.neumorph {
  --bg: #e0e0e0;
  --nav-bg: #e0e0e0;
  --footer-bg: #e0e0e0;
  --card-bg: #e0e0e0;
  --button-bg: #e0e0e0;
  --text-color: #333333;
  --nav-shadow: 8px 8px 15px #bebebe, -8px -8px 15px #ffffff;
  --card-shadow: 8px 8px 15px #bebebe, -8px -8px 15px #ffffff;
  --button-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
  --footer-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
  background: #e0e0e0;
  color: var(--text-color);
}
